 <div class="user-details">
  <h1> Background </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Languages</h2>
      <i class="devicon-go-line colored"></i>
      <i class="devicon-python-plain-wordmark"></i>
      <i class="devicon-javascript-plain colored"></i>      
      <i class="devicon-php-plain colored"></i>      
      <p>
        <b>Python</b> &nbsp|&nbsp
        <b>Golang</b> &nbsp|&nbsp
        <b>JavaScript</b> &nbsp|&nbsp
        <b>PHP</b> &nbsp|&nbsp        
        <b>Bash</b>
      </p>
      <p>I have 7 years of programming experience. In that time, I've used a range of languages including GoLang, Python, JavaScript, PHP and less often others.</p>
    </div>
    <div class="tech">
      <h2>Web</h2>
      <i class="devicon-nodejs-plain colored"></i>
      <i class="devicon-react-original-wordmark colored"></i>
      <i class="devicon-jquery-plain-wordmark colored"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <p>
        <b>Node.JS</b> &nbsp|&nbsp
        <b>ReactJS</b> &nbsp|&nbsp
        <b>jQuery</b> &nbsp|&nbsp
        <b>Bootstrap</b> &nbsp|&nbsp
        <b>ExtJS</b>
      </p>
      <p>I've had the opportunity to explore numerous tools in which to create web applications and different SPAs.</p>
    </div>
    <div class="tech">
      <h2>DBs & Tools</h2>
      <i class="devicon-postgresql-plain-wordmark colored"></i>
      <i class="devicon-mongodb-plain-wordmark colored"></i>
      <i class="devicon-redis-plain-wordmark colored"></i>
      <i class="devicon-git-plain"></i>
      <i class="devicon-docker-plain-wordmark colored"></i>
      <i class="devicon-nginx-plain-wordmark colored"></i>
      <p>
        <b>PostgreSQL</b> &nbsp|&nbsp
        <b>MySQL</b> &nbsp|&nbsp
        <b>Redis</b> &nbsp|&nbsp
        <b>Memcached</b> &nbsp|&nbsp
        <b>ClickHouse</b> &nbsp|&nbsp
        <b>Tarantool</b> &nbsp|&nbsp
        <b>Git</b> &nbsp|&nbsp
        <b>Docker</b> &nbsp|&nbsp
        <b>AWS</b> &nbsp|&nbsp
        <b>Nginx</b> &nbsp|&nbsp
        <b>Ansible</b> &nbsp|&nbsp
        <b>ELK</b>
      </p>
      <p>In my work I had to use many different databases and DBMS, tools for configure web servers and used practices of CI/CD.</p>
    </div>
</div>
