html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background: #2d2d2d;
  margin: 0;
  font-family: 'Helvetica Neue', 'Lucida Grande', 'Source Sans Pro';
}

.container {
  width: 50vw;
  max-width: 650px;
  margin: 0 auto;
  padding: 10% 0;
}

h1 {
  font-size: 48px;
}

p {
  color: #aaa;
  font-size: 22px;
}

h1, a, a:visited {
  color: #eee;
}

a {
  text-decoration: none;
}

a:hover {
  color: #f59937;
  text-decoration: underline;
}

.contacts {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0;  
}

.contact-item {
  list-style: none;
  padding: 0 10px;
  font-size: 22px;  
}

.contact-item:first-child{
  padding-left: 0;
}

.contact-item-info {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.icon {
  width: 50px;
  height: 50px;
  margin: 0 5px 0 0;
  background-repeat: no-repeat;
  background-image: url("../images/sprite.png");
}

.icon:hover {
  transform: scale(1.15, 1.15);
  -ms-transform: scale(1.15, 1.15);
  -webkit-transform: scale(1.15, 1.15);
}

.icon_email {
  background-position: 0px 0px;
}

.icon_email:hover {
  background-position: -50px 0px;
}

.icon_github {
  background-position: 0px -50px;
}

.icon_github:hover {
  background-position: -50px -50px;
}

@media only screen and (max-width: 720px){
  .container {
    width: 100vw;
    padding: 15px;
  }

  h1 {
    font-size: 42px;
  }

  p {
    font-size: 18px;
  }

}
